@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
  }
  input,
  select,
  textarea {
    @apply py-2 px-4 text-black border border-green placeholder:text-black;
  }

  button:disabled,
  input[type='submit']:disabled {
    @apply opacity-70 cursor-default;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
}
body {
  position: relative;
}

.form input,
.form select,
.form textarea {
  width: 100%;
  display: block;
}

.form input[type='checkbox'],
.form input[type='radio'] {
  width: auto;
  display: inline-block;
}

.title {
  font-size: 2.4rem;
  color: #729f2d;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
}

.button {
  display: block;
  width: max-content;
  padding: 8px 30px;
  border: 1px solid;
  border-color: #729f2d;
  color: #729f2d;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-color: transparent;
  transition: all 0.25s ease;
}

input {
  padding: 7px 10px;
}

.button:hover {
  color: white;
  background-color: #729f2d;
}

input[type='submit'],
button {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

.down .alice-carousel__stage-item,
.emphome .alice-carousel__stage-item {
  padding: 0 10px;
}

.gallery .alice-carousel__stage-item {
  padding: 0 30px;
}

@media screen and (max-width: 1170px) {
  .gallery .alice-carousel__stage-item {
    padding: 0 10px;
  }
}

.alice-carousel__dots-item:not(.__custom),
.alice-carousel__dots-item:not(.__custom),
.alice-carousel__dots-item:not(.__custom) {
  width: 6px !important;
  height: 6px !important;
  position: relative !important;
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #ffffff !important;
}

.alice-carousel__dots-item:not(.__custom):hover::after,
.alice-carousel__dots-item:not(.__custom).__active::after {
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  border: 1px solid;
  border-color: white;
  border-radius: 100%;
  position: absolute;
  top: -4px;
  left: -4px;
}

.timeline .alice-carousel__dots-item:not(.__custom) {
  background-color: #999999 !important;
}

.plantas .alice-carousel__dots-item:not(.__custom) {
  background-color: #729f2d !important;
}

.timeline .alice-carousel__dots-item:not(.__custom):hover::after,
.plantas .alice-carousel__dots-item:not(.__custom):hover::after,
.timeline .alice-carousel__dots-item:not(.__custom).__active::after,
.plantas .alice-carousel__dots-item:not(.__custom).__active::after {
  border-color: #729f2d;
}

.timeline .alice-carousel__dots-item:not(.__custom):hover,
.timeline .alice-carousel__dots-item:not(.__custom).__active {
  background-color: #729f2d !important;
}

.timeline .arrow-t,
.timeline .arrow-b {
  background: #729f2d;
  width: 25px;
  height: 20px;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.timeline .arrow-t {
  transform: translateY(-46px);
  z-index: -1;
}

.timeline .arrow-t::after,
.timeline .arrow-b::after,
.timeline .arrow-t::before,
.timeline .arrow-b::before {
  content: '';
  background: #ffffff;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
}

.timeline .arrow-b::after {
  top: 0;
  left: -22px;
}

.timeline .arrow-b::before {
  top: 0;
  right: -22px;
}

.timeline .arrow-t::after {
  top: -21px;
  left: -22px;
}

.timeline .arrow-t::before {
  top: -21px;
  right: -22px;
}

input[type='search'] {
  outline: none;
}

input[type='search']::-ms-clear {
  transform: translateX(-30px);
  cursor: pointer;
}

input[type='search']::-webkit-search-cancel-button {
  transform: translateX(-30px);
  position: relative;
  cursor: pointer;
}

.textAnimation {
  width: 100%;
  display: flex;
}
.textAnimation div {
  color: #ffffff;
  font-size: 20rem;
  font-weight: 900;
  white-space: nowrap;
  text-transform: uppercase;
  animation: animate 80s linear infinite;
  animation-delay: -80s;
}
.textAnimation div:nth-child(2) {
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}
.textAnimation div span {
  color: #ffffff;
  opacity: 0.2;
  margin-right: 70px;
}
@keyframes animate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

.post img {
  margin: 15px 0;
  width: 100%;
  height: auto;
  display: block;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-weight: bold;
  color: #729f2d;
}

.post a {
  color: #729f2d;
  font-style: italic;
}

.post b,
.post strong {
  font-weight: bold;
}

.hero .alice-carousel__dots {
  position: absolute;
  top: 40%;
  right: 30px;
}
.hero .alice-carousel__dots li.alice-carousel__dots-item {
  display: block;
  margin: 25px 0;
}
.hero .alice-carousel__stage-item img {
  transform: scale(1);
  transition: all 5s ease-out;
}

.hero .alice-carousel__stage-item.__active img {
  transform: scale(1.05);
}

.hero {
  @apply bg-bgi
}

.hero .alice-carousel__prev-btn p,
.hero .alice-carousel__next-btn p{
  position: relative;
}

.hero .alice-carousel__prev-btn p svg{
  margin-right: 0;
  margin-left: auto;
}

.gallery .right-\[-16px\] {
  right: 47%;
  width: 33px;
}

.gallery .left-\[-16px\] {
  left: 47%;
  width: 33px;
}

.gallery .top-\[calc\(50\%-30px\)\] {
  bottom: -20px;
  top: auto;
}
